table {
    margin: 50px auto;
}

table td {
    background-color: #222;
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    cursor: pointer;
}
table td:hover {
    background-color: #177;
}